.IsPlaying{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.Durration{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.Volume{
    -fx-cursor: hand;
}

.VolumeSlider .track, .SongSlider . track{
    /*-fx-background-color:#6FBFA2;*/
    -fx-background-color:#0C1928;
}

.VolumeSlider .thumb, .SongSlider .thumb{
    -fx-background-color:#6FBFA2;
    -fx-cursor: hand;
}

.VolumeSlider .thumb:hover, .SongSlider .thumb:hover{
    -fx-background-color: white;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-scale-z: 0.9;
}

.SearchField{
    -fx-background-color:#0C1928;
    -fx-text-fill: white;

}



.PlaylistTableview, .SongsOnPlaylistTableview, .SongsTableview, .SongsOnPlaylistListview{
    -fx-background-color:#162840;
    -fx-text-fill: white;
    -fx-border-color:#0F1F30;
    -fx-border-width: 5px;
}

.table-view .column-header .label{
    -fx-text-fill: white;
}

.table-view .column-header{
    -fx-background-color:#0F1F30;
    -fx-border-width: 0;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.table-view .table-cell, .list-view .list-cell{
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.table-view .scroll-bar:horizontal, .list-view .scroll-bar:horizontal{
    -fx-background-color:#0F1F30;
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb, .list-view .virtual-flow .scroll-bar:horizontal .thumb{
    -fx-background-color:  linear-gradient(to right, #6FBFA2, #6FBFA2);
    -fx-cursor: hand;
}

.table-row-cell:selected, .table-row-cell:odd:selected, .list-cell:selected, .list-cell:odd:selected {
    -fx-background-color: #6FBFA2;
    -fx-border-color: none;
    -fx-border-width: 0;
}
.table-row-cell:hover,.table-row-cell:odd:hover, .list-cell:hover, .list-cell:odd:hover  {
    -fx-background-color: #6FBFA2;
}

.table-row-cell {
    -fx-background-color: #0F3A55;
    -fx-text-fill: white !important;
    -fx-border-width: 0;
}

.list-cell{
    -fx-text-fill: white !important;
    -fx-border-width: 0;
    -fx-background-color:#162840;
}

.table-row-cell:odd {
    -fx-background-color:#162840;
}

.list-cell:odd{
    -fx-background-color: #0F3A55;
}

.table-view .arrow {
    -fx-background-color: white;
}

.NewPlaylistButton, .EditPlaylistButton, .DeletePlaylistButton, .DeleteSongsOnPlaylistButton,
.NewSongButton, .EditSongButton, .DeleteSongButton,.CloseButton{
    -fx-background-color: #6FBFA2;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-radius: 10 0 10 0;
    -fx-cursor: hand;
}
.NewPlaylistButton:hover, .EditPlaylistButton:hover, .DeletePlaylistButton:hover, .DeleteSongsOnPlaylistButton:hover,
.NewSongButton:hover, .EditSongButton:hover, .DeleteSongButton:hover,.CloseButton:hover{
    -fx-text-fill:#0F1F30;
    -fx-background-color: white;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-scale-z: 0.9;
}

.MoveUpButton, .MoveDownButton, .AddSongsToPlaylistButton, .SearchButton, .PlayPauseButton, .NextSongButton, .LastSongButton{
    -fx-background-radius: 200;
    -fx-pref-width: 40px !important;
    -fx-pref-height: 40px !important;
    -fx-background-color: #6FBFA2;
    -fx-cursor: hand;

}

.MoveUpButton:hover, .MoveDownButton:hover, .AddSongsToPlaylistButton:hover, .SearchButton:hover, .PlayPauseButton:hover, .NextSongButton:hover, .LastSongButton:hover{
    -fx-background-color: white;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-scale-z: 0.9;
}

.Dialog, .Alert {
    -fx-background-color: #162840;
}

.Dialog .label, .Alert .label {
    -fx-text-fill: white;
    -fx-font-weight:bold;
}

.Dialog .button, .Alert .button{
    -fx-background-color: #6FBFA2;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-radius: 10 0 10 0;
    -fx-cursor: hand;
}

.Dialog .button:hover, .Alert .button:hover{
    -fx-text-fill:#0F1F30;
    -fx-background-color: white;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-scale-z: 0.9;
}

.Dialog .text-field{
    -fx-background-color:#0C1928;
    -fx-text-fill: white;
}

.Dialog *.header-panel, .Alert *.header-panel{
    -fx-background-color: #162840;
}

.NewSongDialog {
    -fx-background-color: #162840;
}

.NewSongDialog .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.NewSongDialog .text-field {
    -fx-background-color:#0C1928;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.NewSongDialog .button {
    -fx-background-color: #6FBFA2;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-radius: 10 0 10 0;
    -fx-cursor: hand;
}
